
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}



body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
  overflow-y: auto;
}
.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative; /* Add this */
  padding-top: 60px; /* Add this */
}

.home-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 40px;
  position: relative; /* Add this */
  z-index: 2; /* Add this */
}

/*.bg-image {
  background-image: url("https://images.unsplash.com/photo-1612838320302-4b3b3b3b3b3b");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}*/

.home-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.home-left > h1{
  font-size: 48px;
  color: #ffffff;

}




.home-header >h2 {
  font-size: 36px;
  color: #ffffff;
}

.cta-button {
  padding: 10px 20px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

.cta-button:hover {
  background-color: #ff4500;
}

.home-description h3 {
  font-size: 24px;
  color: #ffffff;
  margin-top: 20px;
}

.home-description p {
  font-size: 18px;
  margin-top: 10px;
  color: #ffffff;
}

.home-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.category-section {
  padding: 40px;
  height: auto;
  min-height: 100vh;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.category-section h3 {
  font-size: 32px;
  margin-bottom: 20px;
}

.category-section p {
  font-size: 18px;
  line-height: 1.6;
}


.category-section .owl-stage {
  margin: 15px 0;
  display: flex;
  display: -webkit-flex;
}
.category-section .item {
  margin: 0 15px 60px;
  width: 320px;
  height: 400px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.category-section .item.active {
  width: 500px;
  box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}
.category-section .item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
.category-section .item-desc {
  padding: 0 24px 12px;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.category-section .item.active .item-desc {
  transform: none;
  -webkit-transform: none;
}
.category-section .item-desc p {
  opacity: 0;
  -webkit-transform: translateY(32px);
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out 0.2s;
}
.category-section .item.active .item-desc p {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.category-section .owl-theme.custom-carousel .owl-dots {
  margin-top: -20px;
  position: relative;
  z-index: 5;
}
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  h2 {
    margin-bottom: 20px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 19px;
    line-height: 24px;
  }
  .line-title {
    width: 250px;
  }
}

.category-section .item {
  margin: 0 10px 40px;
  width: 200px;
  height: 280px;
}
.category-section .item.active {
  width: 270px;
  box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
}
.category-section .item-desc {
  padding: 0 14px 5px;
  transform: translateY(calc(100% - 42px));
  -webkit-transform: translateY(calc(100% - 42px));
}
