
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}



body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
  overflow-y: auto;
}
.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative; /* Add this */
  padding-top: 60px; /* Add this */
}

.home-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 40px;
  position: relative; /* Add this */
  z-index: 2; /* Add this */
}

.bg-image {
  background-image: url("https://images.unsplash.com/photo-1612838320302-4b3b3b3b3b3b");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

.home-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.home-left > h1{
  font-size: 48px;
  color: #ffffff;

}




.home-header >h2 {
  font-size: 36px;
  color: #ffffff;
}

.cta-button {
  padding: 10px 20px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

.cta-button:hover {
  background-color: #ff4500;
}

.home-description h3 {
  font-size: 24px;
  color: #ffffff;
  margin-top: 20px;
}

.home-description p {
  font-size: 18px;
  margin-top: 10px;
  color: #ffffff;
}

.home-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.category-section {
  padding: 40px;
  height: auto; /* Flexible height depending on content */
  min-height: 100vh; /* Ensures at least the height of the viewport */
  color: #ffffff; /* Assuming you want white text for readability */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  background: rgba(0, 0, 0, 0.5); /* Optional: Adds a dark overlay for better text visibility */
}

.category-section h3 {
  font-size: 32px;
  margin-bottom: 20px;
}

.category-section p {
  font-size: 18px;
  line-height: 1.6;
}
